---
title: "Hi!"
description: Welcome to my personal website!
---
<header>

# {title}

</header>

Welcome to my website! I'm **HypnoticOcelot** online, but most people just call me Hypno.
## About Me
***
I'm super interested in these topics:
- Writing
- The Open Internet
- Open Standards/Interoperability
- Linux
- Privacy/Consumer Protections

I'm a university student currently on track to study law, and hopefully improve the state of digital rights/privacy legislation in America.

*The views expressed on this website are mine and mine alone, unless expressly stated otherwise.*
## Contact
***
You can contact me through email; in an attempt to avoid LLM scrapers from collecting my email too easily, here it is encoded with B64:
```
cmVhbGh5cG5vdGljb2NlbG90QHByb3Rvbm1haWwuY29tCg==
```
Feel free to also contact me through any of the platforms listed in the footer(I'm more active on real-time communication platforms)! If I don't respond within 2-3 days, try and reach out to me another way.