---
title: "Privacy Policy"
description: I don't care about your data!
---
<header>

# {title}

</header>

***
I don't collect any data, and I don't want to! Keep it to yourself, please!

That said, I reserve the right to make alterations to this policy at any time, just in case.