---
title: "Privacy Policy"
---
# {title}
***
I don't collect any data, and I don't want to! Keep it to yourself, please!
<br>
That said, I reserve the right to make alterations to this policy at any time, just in case.